<!doctype html>
<html>
<head>
    <script type="text/javascript" src="/static/js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/fontawesome.min.js"></script>
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body class="container-fluid">
    <div class="text-center">
        <h2>Astro Pi Camera</h2>
        <div class="menu">
            <div class="menu-item">
                <a class="btn btn-secondary" href="{{ url_for('camera.take_image') }}">Still Image</a>
            </div>
            <div class="menu-item">
                <a class="btn btn-secondary" href="{{ url_for('camera.preview_image') }}">Preview</a>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>