{% extends "_base.html" %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="/camera/take_image" method="GET">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="resolution">Resolution:</label>
                        <select class="form-control" name="resolution" id="resolution" >
                            <option {% if resolution == '4056x3040' %} selected {% endif %} value="4056x3040">4056x3040 (MAX HQ)</option>
                            <option {% if resolution == '3280x2464' %} selected {% endif %} value="3280x2464">3280x2464 (MAX v2)</option>
                            <option {% if resolution == '2560x1440' %} selected {% endif %} value="2560x1440">2560x1440 (1440p)</option>
                            <option {% if resolution == '1920x1080' %} selected {% endif %} value="1920x1080">1920x1080 (1080p)</option>
                            <option {% if resolution == '1280x720' %} selected {% endif %} value="1280x720">1280x720 (720p)</option>
                            <option {% if resolution == '1280×960' %} selected {% endif %} value="1280×960">1280x960</option>
                            <option {% if resolution == '1024x768' %} selected {% endif %} value="1024x768">1024x768</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="iso">ISO:</label>
                        <select class="form-control" name="iso" id="iso" >
                            <option {% if iso == '100' %} selected {% endif %} value="100">100</option>
                            <option {% if iso == '200' %} selected {% endif %} value="200">200</option>
                            <option {% if iso == '320' %} selected {% endif %} value="320">320</option>
                            <option {% if iso == '400' %} selected {% endif %} value="400">400</option>
                            <option {% if iso == '500' %} selected {% endif %} value="500">500</option>
                            <option {% if iso == '640' %} selected {% endif %} value="640">640</option>
                            <option {% if iso == '800' %} selected {% endif %} value="800">800</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="metering">Metering:</label>
                        <select class="form-control" name="meter_mode" id="metering">
                            <option {% if meter_mode == 'average' %} selected {% endif %} value="average">Average</option>
                            <option {% if meter_mode == 'spot' %} selected {% endif %} value="spot">Spot</option>
                            <option {% if meter_mode == 'backlit' %} selected {% endif %} value="backlit">Backlit</option>
                            <option {% if meter_mode == 'matrix' %} selected {% endif %} value="matrix">Matrix</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exposure-mode">Exposure Mode:</label>
                        <select class="form-control" name="exposure_mode" id="exposure-mode">
                            <option {% if exposure_mode == 'off' %} selected {% endif %} value="off">Off</option>
                            <option {% if exposure_mode == 'auto' %} selected {% endif %} value="auto">Auto</option>
                            <option {% if exposure_mode == 'night' %} selected {% endif %} value="night">Night</option>
                            <option {% if exposure_mode == 'backlight' %} selected {% endif %} value="backlight">Backlight</option>
                            <option {% if exposure_mode == 'spotlight' %} selected {% endif %} value="spotlight">Spotlight</option>
                            <option {% if exposure_mode == 'sports' %} selected {% endif %} value="sports">Sports</option>
                            <option {% if exposure_mode == 'snow' %} selected {% endif %} value="snow">Snow</option>
                            <option {% if exposure_mode == 'beach' %} selected {% endif %} value="beach">Beach</option>
                            <option {% if exposure_mode == 'verylong' %} selected {% endif %} value="verylong">Very long</option>
                            <option {% if exposure_mode == 'fixedfps' %} selected {% endif %} value="fixedfps">Fixed fps</option>
                            <option {% if exposure_mode == 'antishake' %} selected {% endif %} value="antishake">Antishake</option>
                            <option {% if exposure_mode == 'fireworks' %} selected {% endif %} value="fireworks">Fireworks</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="shutter-speed">Shutter Speed (s):</label>
                        <select class="form-control" name="shutter_speed" id="shutter-speed">
                            <option {% if shutter_speed == '1000' %} selected {% endif %} value="1000">1⁄1000</option>
                            <option {% if shutter_speed == '2000' %} selected {% endif %} value="2000">1⁄500</option>
                            <option {% if shutter_speed == '4000' %} selected {% endif %} value="4000">1⁄250</option>
                            <option {% if shutter_speed == '8000' %} selected {% endif %} value="8000">1⁄125</option>
                            <option {% if shutter_speed == '20000' %} selected {% endif %} value="20000">1⁄50</option>
                            <option {% if shutter_speed == '40000' %} selected {% endif %} value="40000">1⁄25</option>
                            <option {% if shutter_speed == '66666' %} selected {% endif %} value="66666">1⁄15</option>
                            <option {% if shutter_speed == '125000' %} selected {% endif %} value="125000">1⁄8</option>
                            <option {% if shutter_speed == '250000' %} selected {% endif %} value="250000">1⁄4</option>
                            <option {% if shutter_speed == '500000' %} selected {% endif %} value="500000">1⁄2</option>
                            <option {% if shutter_speed == '1000000' %} selected {% endif %} value="1000000">1</option>
                            <option {% if shutter_speed == '2000000' %} selected {% endif %} value="2000000">2</option>
                            <option {% if shutter_speed == '5000000' %} selected {% endif %} value="5000000">5</option>
                            <option {% if shutter_speed == '10000000' %} selected {% endif %} value="10000000">10</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="num-shots">Number of Frames</label>
                        <input name="num_shots" type="number" class="form-control" id="num-shots" value="{{ num_shots }}">
                    </div>
                    <div class="form-group">
                        <label for="frame-between">Time between frames (ms):</label>
                        <input name="frame_between" type="number" class="form-control" id="frame-between" value="{{ frame_between }}">
                    </div>
                    <div class="form-group form-check">
                        <input name="denoise" type="checkbox" class="form-check-input" id="denoise" {% if denoise == 'on' %} checked {% endif %}>
                        <label class="form-check-label" for="denoise">Denoise</label>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-between">
                <button class="btn btn-secondary" type="button" onclick="showPreview()">
                    <i class="fas fa-search"></i> Preview
                </button>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-camera"></i> Capture Image(s)
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal img-container">
    <img id="preview">
</div>
{% endblock %}
