{% extends "_base.html" %}

{% block body %}
<div class="row">
    <div class="col-md text-center">
        <h2>Astro Pi Camera</h2>
        <img src="{{ url_for('camera.video_feed') }}">
    </div>
</div>
<div class="row">
    <div class="col-md">
        <form action="/camera/take_image" method="GET">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="resolution">Resolution:</label>
                        <select class="form-control" name="resolution" id="resolution">
                            <option value="3280x2464">3280x2464 (MAX)</option>
                            <option value="2560x1440">2560x1440 (1440p)</option>
                            <option value="1920x1080">1920x1080 (1080p)</option>
                            <option value="1280x720">1280x720 (720p)</option>
                            <option value="1280×960">1280x960</option>
                            <option value="1024x768">1024x768</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="iso">ISO:</label>
                        <select class="form-control" name="iso" id="iso">
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="320">320</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="640">640</option>
                            <option value="800">800</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="metering">Metering:</label>
                        <select class="form-control" name="metering" id="metering">
                            <option value="average">Average</option>
                            <option value="spot">Spot</option>
                            <option value="backlit">Backlit</option>
                            <option value="matrix">Matrix</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exposure-mode">Exposure Mode:</label>
                        <select class="form-control" name="exposure_mode" id="exposure-mode">
                            <option value="off">Off</option>
                            <option value="auto">Auto</option>
                            <option value="night">Night</option>
                            <option value="acklight">Backlight</option>
                            <option value="spotlight">Spotlight</option>
                            <option value="sports">Sports</option>
                            <option value="snow">Snow</option>
                            <option value="beach">Beach</option>
                            <option value="verylong">Very long</option>
                            <option value="fixedfps">Fixed fps</option>
                            <option value="antishake">Antishake</option>
                            <option value="fireworks">Fireworks</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="shutter-speed">Shutter Speed (µs):</label>
                        <input name="shutter_speed" type="number" class="form-control" id="shutter-speed">
                    </div>
                    <div class="form-group form-check">
                        <input name="denoise" type="checkbox" class="form-check-input" id="denoise">
                        <label class="form-check-label" for="denoise">Denoise</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-check">
                        <br>
                        <br>
                        <input name="timelapse" type="checkbox" class="form-check-input" id="timelapse">
                        <label class="form-check-label" for="timelapse">Timelapse</label>
                    </div>
                    <fieldset id="timelapse-fields" disabled>
                        <div class="form-group">
                            <label for="frame-between">Time between frames (ms):</label>
                            <input name="frame_between" type="number" class="form-control" id="frame-between">
                        </div>
                        <div class="form-group">
                            <label for="time-total">Timelapse length (s):</label>
                            <input name="timelapse_length" type="number" class="form-control" id="time-total">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="form-row">
                <button class="btn btn-primary" type="submit">Take Picture</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
